extends layout

block content
  a(href='https://github.com/anders94/blockchain-demo/')
    
  .container
    h1 Blockchain Demo: Public / Private Keys &amp; Signing
    
    br
    p.pull-right 
      a(href='http://andersbrownworth.com/')
